*.class
.gradle
/build/
/bin/
/.settings/
.project
.classpath

# Package Files
*.jar
*.war
*.ear

# Serverless directories
.serverless

# Node
node_modules

#
.vscode

!/gradle/wrapper/gradle-wrapper.jar
